* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  padding: 20px;
  color: #333;
}

header h1 {
  text-align: center;
  color: #0055ff;
  margin-bottom: 30px;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.Seccion_Cartas h2,
.Seccion_de_Comparacion h2,
.seccion-buscar h2 {
  color: white;
  background-color: #3393ff;
  margin-bottom: 20px;
  text-align: center;
}

.Contenedor-Cartas {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.cartas {
  background-color: #ffffff;
  width: 250px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.cartas img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.Formulario_comparacion {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.Formulario_comparacion select,
.Formulario_comparacion button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.Formulario_comparacion button {
  background-color: #ADD8E6;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

.resultado {
  margin-top: 20px;
}

.resultado ul {
  margin-top: 10px;
  padding-left: 20px;
}

.seccion-buscar button{
    background-color: green;
    border-radius: 4px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
